@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing and defining font */
@font-face {
  font-family: MyFont;
  src: url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MyFont, sans-serif;
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  border: 1px solid red;
}

/* General Styles */
body {
  height: 100vh;
  background-color: var(--Charcoal-Grey);
  color: var(--Dark-Slate-Grey);
}

/* Sign up Form style*/

.btn {
  background-color: hsl(234, 29%, 20%);
  color: var(--White);
}

.btn:hover {
  color: var(--White);
  background-color: var(--Tomato);
  box-shadow: -1px 13px 17px -4px var(--Tomato);
}

#sign-up-form:focus {
  box-shadow: none;
  border-color: hsl(234, 29%, 20%);
  color: hsl(234, 29%, 20%);
}

/* Responsive Style */
@media (max-width: 640px) {
  body {
    background-color: var(--White);
  }
}
